@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.site-font {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

code:not(.latex) {
    background-color: var(--color-zinc-200);
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    code:not(.latex) {
        background-color: var(--color-zinc-800);
        padding: 5px;
    }
}